<div class="devise-container">
  <div class="devise-card">
    <div class="devise-header">
      <h2>Forgot your password?</h2>
    </div>

    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }, class: "devise-form") do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="devise-field">
        <%= f.label :email %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>

      <div class="devise-actions">
        <%= f.submit "Send me reset password instructions", class: "devise-submit" %>
      </div>
    <% end %>

    <div class="devise-links">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
